<div id="breadcrumbs-wrapper" class="grey lighten-3">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Información del Club</h5>
                <ol class="breadcrumb">
                    <li><a href="" ui-sref="dashboard">Inicio</a></li>
                    <li class="active">Información del club</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div id="information" class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-contend ">
                        <ul class="tabs tab-profile z-depth-1 light-blue">
                            <li class="tab col s3">
                                <a href="" ng-click="ChangeTab('history')" class="white-text waves-effect waves-light active"><i class=""></i>Historia</a>
                            </li>
                            <li class="tab col s4">
                                <a href="" ng-click="ChangeTab('players')" class="white-text waves-effect waves-light"><i class=""></i>Jugadores</a>
                            </li>
                            <li class="tab col s4">
                                <a href="" ng-click="ChangeTab('admin')" class="white-text waves-effect waves-light truncate"><i class=""></i>Administración</a>
                            </li>
                        </ul>
                        <div ng-if="tabs == 'history'" class="tab-content col s12 lighten-4">
                            <div class="row">
                                <div class="col s12 m12 l12 ">
                                    <div class="card ">
                                        <div class="card-content ">
                                            <p class="text-justify">
                                                <strong>ARANJUEZ RUGBY CLUB  </strong>nació el 17 de
                                                abril del año 2013, nació debido al entusiasmo de un grupo de amigos, ex jugadores
                                                que sintieron la necesidad de volver a jugar, la decisión de este grupo fue jugar
                                                en un club nuevo.
                                                Una vez instalada la necesidad, a modo de honrar a una de las familias que mas los apoyo,
                                                surgió el nombre de ARANJUEZ RUGBY CLUB.
                                                Los colores fueron sacados del siempre potencia mundial del rugby, seleccionado de Australia.
                                                Los entrenamientos comenzaron en una plaza del barrio Urbari, con el pasar de los días y
                                                debido al crecimiento en cuanto al número de jugadores, la plaza comenzó a quedar chica  y
                                                se vieron con la necesidad de buscar un lugar más amplio y en otro barrio de la ciudad para
                                                también incorporar más gente nueva al club.
                                                Antes de jugar su primer partido, ARANJUEZ contaba con un grupo de aproximadamente 28 a 30
                                                jóvenes de todas partes de la ciudad.
                                                <a ng-if="!showingMoreHistoryOfClub" href="" ng-click="showMoreHistoryOfClub(true)">Leer mas.</a>
                                                <a ng-if="showingMoreHistoryOfClub" href="" ng-click="showMoreHistoryOfClub(false)">Ocultar.</a>
                                            </p>
                                            <br>
                                            <p id="moreHistory" class="text-justify animated fadeIn" ng-if="showingMoreHistoryOfClub">
                                                Los primeros partidos, a pesar de la derrota, fueron todo un éxito, los jugadores, padres,
                                                amigos, sintieron que el papel hecho en esos partidos, invitaba a soñar para que en algún
                                                momento no muy lejano llegara el primer triunfo.
                                                A la espera de ese primer triunfo, la llamita de esos jugadores que se iniciaban dentro
                                                del rugby, se fue apagando y comenzaron las deserciones, con la resultante que al último
                                                ya no había numero mínimo para que los entrenamientos sean divertidos. Así fue como se
                                                disolvió aquel equipo inicial de Aranjuez Rugby Club.
                                                En aquel entonces, no faltaban los hermanitos que acompañaban a sus mayores para mirar e
                                                intentar jugar al Rugby, son ellos los que hoy dan color a Aranjuez Rugby Club, ya que
                                                hoy estos chicos se preocuparon por juntar amigos, y amigos de los amigos y formar una
                                                división juvenil.
                                                Al día de hoy, el plantel juvenil de ARANJUEZ RUGBY CLUB, cuenta con un número muy
                                                lindo de jugadores, son más o menos 35 chicos los que se entrenan lunes y miércoles.
                                                Al día de hoy, estos juveniles van juntando minutos de juego, ya participaron de
                                                partidos amistosos obteniendo resultados siempre positivos desde el punto de vista
                                                formativo, educativo y deportivo, ya que se están conociendo con los jugadores de los
                                                demás clubes y haciendo nuevos amigos.
                                                Hoy, en abril del 2016 a tres años del primer junte para entrenamiento, los juveniles
                                                están entrenando sin cesar, a la espera del torneo anual, donde participaran además
                                                de ARANJUEZ R.C., Santa Cruz R.C., Jenecherú R.C y Yacuiba R.C.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 m6 l4 hide-on-small-only">
                                    <div class="card">
                                        <div class="card-conten center">
                                            <img width="80%" src="images/logo4.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">
                                    Vision
                                    <div class="card">
                                        <div class="card-content">
                                            <p class="text-justify">
                                                Llegar a ser un club reconoido en todo el pais, no solo por su buen desempeño sino por
                                                brindar apoyo a todo su equipo forjando virtudes y valores en sus jugadores.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">
                                    Mision
                                    <div class="card">
                                        <div class="card-content">
                                            <p class="text-justify">
                                                Hacer rugby un deporte donde puedan jugar todos, más allá de su porte físico o de su habilidad.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="tabs == 'players'" class="tab-content col s12 lighten-4" >
                            <div class="row">
                                <div class="col s12 m12 l6" ng-repeat="teams in teamTypes">
                                    <div class="card">
                                        <div class="card-content">
                                            <ul class="collection with-header" style="border: none;">
                                                <li class="collection-header">
                                                    <h4>{{teams.name}}</h4>
                                                </li>
                                                <li class="collection-item" ng-repeat="items in dataPlayers"
                                                    ng-class="{'hiden': items.tipoDeEquipo != 'Division Masculina'}"
                                                    ng-if="teams.name == 'Division Masculina'">
                                                    <div>
                                                        {{items.name}}
                                                        <a href="" ng-click="showModalInfoPlayer(items)" class="secondary-content">
                                                            <i class="mdi-content-add-circle"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="collection-item" ng-repeat="items in dataPlayers"
                                                    ng-class="{'hiden': items.tipoDeEquipo == 'Division Masculina'}"
                                                    ng-if="teams.name != 'Division Masculina'">
                                                    <div>
                                                        {{items.name}}
                                                        <a href="" ng-click="showModalInfoPlayer(items)" class=" secondary-content">
                                                            <i class="mdi-content-add-circle"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="tabs == 'admin'" class="tab-content col s12 lighten-4" >
                            <div class="row">
                                <div class="col s12">
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere libero nobis officia qui recusandae, similique
        veritatis voluptates! Cupiditate deleniti fugiat iure neque quae. Autem fuga, molestias natus nisi provident
        sapiente!
    </div>
    <div class="modal-footer">
        <a href="" class="waves-effect waves-red btn-flat modal-action modal-close">
            Cerrar
        </a>
    </div>
</div>